ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
 }

 div {
    padding: 10px;
    text-align: left;
  }

  h1 {
      text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}

legend {
    color: #333;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}

label, input, select {
    font-size: 90%;
}

label {
    float: left;
    width: 12em;
    text-align: right;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}

input:required, input[required] {
    border: 3px solid red;
}

br {
  clear: both;
}

#buttons input {
  width: 10em;
}

table, th, td {
  border: 1px solid black;
}

p {
  float: right;
}